.bayan {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 233, 218);
}
.bayan_items {
    cursor: pointer;
}
.bayan_item {
    width: 50%;
}

.bayan_list {
    list-style: none;
}
.bayan_list li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #9b9898;
  padding: 20px;
  position: relative;
}

.bayan_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bayan_item:hover .bayan_title {
    color:blue;
}
.plus {
    width: 20px;
    height: 20px;
    font-weight: bold;
    transform: rotate(0deg);
    transition: transform 0.5s;
    cursor: pointer;
}
.bayan_item:hover .plus {
    transform: rotate(-45deg);
    font-weight: bold;
    color:black;
}

.bayan_item .bayan_img {
    width: 0px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform-origin: center center;
    cursor: pointer;
    
}

.bayan_item:hover .bayan_img {
    width: 300px;
    opacity: 1;
    transform: scale(1.1);
}

.bayan_title {
    padding: 0 0 20px 0;
    height: 40px;
}
.bayan_img {
   
}
.bayan_img:hover {

}