*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0 20px 0 0;
}
h1 {
    padding: 15px;
}
section{
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 216, 200);
}
.bayan {
    display: flex;
    max-width: 75%;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(246, 233, 218);
    margin: 0 auto;
    overflow: hidden;
}
.bayan_items {
    cursor: pointer;
}
.bayan_item {
    width: 100%;
}

.bayan_list {
    list-style: none;
}
.bayan_list li {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #9b9898;
  padding: 20px;
  position: relative;
}

.bayan_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bayan_item:hover .bayan_title {
    color:rgb(112, 112, 132);
}
.plus {
    width: 20px;
    height: 20px;
    font-weight: bold;
    transform: rotate(0deg);
    transition: transform 0.5s;
    cursor: pointer;
}
.bayan_item:hover .plus {
    transform: rotate(-45deg);
    font-weight: bold;
    color:black;
}

.bayan_item .bayan_img {
    width: 0;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    cursor: pointer;
    margin-left: 30%;
    
}
.bayan_item:hover .bayan_img {
    width: 300px;
    opacity: 1;
    transform: scale(1.1);
}

.bayan_title {
    padding: 0 0 20px 0;
    height: 40px;
}
